Repository HackMerced/HackMerced, changes with the labels that .github/labeler.yml gives for each.
All labels: test, workflows, actions, react, storybook, documentation

.github/labeler.yml:

# Add 'test' label to any change to *.spec.js files within the source dir
test:
    - src/**/*.test.tsx
    - src/**/*.spec.tsx
    - e2e/*

# Add 'workflows' label to any new or updated GitHub action workflow
workflows:
    - .github/workflows/*

# Add 'actions' label to any new or updated GitHub action workflow
actions:
    - .github/actions/*

# Add 'react' label to any changes done to the React application
react:
    - src/**/*.tsx
    - src/**/*.scss
    - src/**/*.ts

# Add 'storybook' label to any changes done to the StoryBook
storybook:
    - .storybook
    - src/**/*.stories.*

# Add the 'documentation' label to any changes in either of the documented files
documentation:
    - README.md
    - LICENSE
    - CODE_OF_CONDUCT.md

fix: success boxes
  src/components/PastHackathonsGallery/PastHackathonsGallery.scss
  src/components/Successes/Successes.scss
  src/components/Successes/Successes.tsx
  src/components/Successes/Successes.types.ts
  src/pages/Hackathons/hackathons.tsx
Labels: react

fix: success boxes
  src/components/PastHackathonsGallery/PastHackathonsGallery.scss
  src/components/Successes/Successes.scss
  src/components/Successes/Successes.tsx
  src/components/Successes/Successes.types.ts
  src/pages/Hackathons/hackathons.tsx
Labels: react

fix: success font size
  src/components/Successes/Successes.scss
Labels: react

fix: success font size
  src/components/Successes/Successes.scss
Labels: react

fix: mobile success boxes
  src/components/Successes/Successes.scss
Labels: react

fix: mobile success boxes
  src/components/Successes/Successes.scss
Labels: react

fix: shrink form box
  src/components/Title/title.scss
Labels: react

fix: shrink form box
  src/components/Title/title.scss
Labels: react

fix: past winners icons
  src/components/Past-Winners/past-winners.scss
  src/components/Title/title.scss
  src/components/Title/title.tsx
Labels: react

fix: past winners icons
  src/components/Past-Winners/past-winners.scss
  src/components/Title/title.scss
  src/components/Title/title.tsx
Labels: react

fix: small sizing of icons
  src/components/NavBar/navbar.scss
  src/components/Successes/Successes.scss
  src/components/Successes/Successes.tsx
  src/pages/Contact-Us/contact-us.scss
  src/pages/Contact-Us/contact-us.tsx
  src/pages/SponsorUs/sponsor-us.scss
Labels: react

fix: small sizing of icons
  src/components/NavBar/navbar.scss
  src/components/Successes/Successes.scss
  src/components/Successes/Successes.tsx
  src/pages/Contact-Us/contact-us.scss
  src/pages/Contact-Us/contact-us.tsx
  src/pages/SponsorUs/sponsor-us.scss
Labels: react

fix: border and sizing past hackathons
  src/components/PastHackathonsGallery/PastHackathonsGallery.scss
Labels: react

fix: border and sizing past hackathons
  src/components/PastHackathonsGallery/PastHackathonsGallery.scss
Labels: react

fix: clean up subscribe form
  src/components/About Us/about.scss
  src/components/Title/title.scss
Labels: react

fix: clean up subscribe form
  src/components/About Us/about.scss
  src/components/Title/title.scss
Labels: react

fix: past hackathons text
  src/components/NavBar/navbar.scss
  src/components/NavBar/navbar.tsx
  src/components/Past-Winners/past-winners.scss
Labels: react

fix: past hackathons text
  src/components/NavBar/navbar.scss
  src/components/NavBar/navbar.tsx
  src/components/Past-Winners/past-winners.scss
Labels: react

add: title breakers
  src/components/About Us/about.scss
  src/components/About Us/about.tsx
  src/components/Past-Winners/past-winners.scss
  src/components/Past-Winners/past-winners.tsx
  src/components/TeamPics/teampics.scss
  src/components/TeamPics/teampics.tsx
  src/components/Title/title.scss
Labels: react

add: title breakers
  src/components/About Us/about.scss
  src/components/About Us/about.tsx
  src/components/Past-Winners/past-winners.scss
  src/components/Past-Winners/past-winners.tsx
  src/components/TeamPics/teampics.scss
  src/components/TeamPics/teampics.tsx
  src/components/Title/title.scss
Labels: react

feat: added submit axios endpoints for each form
  src/components/Form/Form.stories.tsx
  src/components/Form/Form.tsx
  src/components/Form/Form.types.ts
  src/components/Title/title.tsx
  src/pages/Contact-Us/contact-us.tsx
  src/pages/SponsorUs/sponsors-us.tsx
Labels: react, storybook

feat: added submit axios endpoints for each form
  src/components/Form/Form.stories.tsx
  src/components/Form/Form.tsx
  src/components/Form/Form.types.ts
  src/components/Title/title.tsx
  src/pages/Contact-Us/contact-us.tsx
  src/pages/SponsorUs/sponsors-us.tsx
Labels: react, storybook

fix: conversion from class based component to functional component
  src/components/Form/Form.test.tsx
  src/components/Form/Form.tsx
  src/components/Form/Form.types.ts
  src/components/Title/title.tsx
Labels: test, react

fix: conversion from class based component to functional component
  src/components/Form/Form.test.tsx
  src/components/Form/Form.tsx
  src/components/Form/Form.types.ts
  src/components/Title/title.tsx
Labels: test, react

fix: title tablet responsiveness
  src/components/About Us/about.scss
  src/components/Past-Winners/past-winners.scss
  src/components/TeamPics/teampics.scss
  src/components/Title/title.scss
Labels: react

fix: title tablet responsiveness
  src/components/About Us/about.scss
  src/components/Past-Winners/past-winners.scss
  src/components/TeamPics/teampics.scss
  src/components/Title/title.scss
Labels: react

add: active styling navbar
  src/components/NavBar/navbar.scss
  src/components/NavBar/navbar.tsx
Labels: react

add: active styling navbar
  src/components/NavBar/navbar.scss
  src/components/NavBar/navbar.tsx
Labels: react

chore: cleaned up code
  src/App.tsx
  src/components/Button/Button.tsx
  src/components/Footer/footer.tsx
  src/components/NavBar/navbar.tsx
  src/components/TeamPics/teampics.tsx
  src/components/TeamPics/teampics.types.ts
  src/pages/Home/home.tsx
Labels: react

chore: cleaned up code
  src/App.tsx
  src/components/Button/Button.tsx
  src/components/Footer/footer.tsx
  src/components/NavBar/navbar.tsx
  src/components/TeamPics/teampics.tsx
  src/components/TeamPics/teampics.types.ts
  src/pages/Home/home.tsx
Labels: react

fix: build error
  src/components/TeamPics/teampics.tsx
  src/components/TeamPics/teampics.types.ts
Labels: react

fix: build error
  src/components/TeamPics/teampics.tsx
  src/components/TeamPics/teampics.types.ts
Labels: react

fix: mobile past winners
  src/components/Past-Winners/past-winners.scss
Labels: react

fix: mobile past winners
  src/components/Past-Winners/past-winners.scss
Labels: react

feat: added the tower
  public/index.html
  public/tower.txt
Labels: none

feat: added the tower
  public/index.html
  public/tower.txt
Labels: none

fix: color to black for font
  src/components/HamburgerMenu/Menu.tsx
Labels: react

fix: color to black for font
  src/components/HamburgerMenu/Menu.tsx
Labels: react

feat: hamburger menu
  package.json
  src/App.tsx
  src/components/HamburgerMenu/Hamburger.styled.ts
  src/components/HamburgerMenu/Hamburger.tsx
  src/components/HamburgerMenu/HamburgerMenu.tsx
  src/components/HamburgerMenu/Menu.styled.ts
  src/components/HamburgerMenu/colors.ts
  src/components/HamburgerMenu/hooks.ts
  src/pages/TestPage/TestPage.tsx
  yarn.lock
Labels: react

feat: new menu for right nav on mobile
  src/components/HamburgerMenu/Menu.tsx
  src/pages/TestPage/TestPage.tsx
Labels: react
