Repository HackMerced/HackMerced, pull requests merged in 2018-07, with the labels that each got.

#15 Feat/titlescreen
  .DS_Store
  client/.DS_Store
  client/README.md
  client/hackmerced/.gitignore
  client/hackmerced/README.md
  client/hackmerced/package-lock.json
  client/hackmerced/package.json
  client/hackmerced/public/favicon.ico
  client/hackmerced/public/index.html
  client/hackmerced/public/manifest.json
  client/hackmerced/src/App.js
  client/hackmerced/src/App.test.js
  client/hackmerced/src/assets/css/basic.css
  client/hackmerced/src/assets/css/basic.css.map
  client/hackmerced/src/assets/css/default.css
  client/hackmerced/src/assets/css/default.css.map
  client/hackmerced/src/assets/scss/background.jpg
  client/hackmerced/src/assets/scss/basic.css
  client/hackmerced/src/assets/scss/basic.css.map
  client/hackmerced/src/assets/scss/basic.scss
  client/hackmerced/src/assets/scss/body.css
  client/hackmerced/src/assets/scss/body.css.map
  client/hackmerced/src/assets/scss/body.scss
  client/hackmerced/src/assets/scss/default.css
  client/hackmerced/src/assets/scss/default.css.map
  client/hackmerced/src/assets/scss/default.scss
  client/hackmerced/src/components/footer.js
  client/hackmerced/src/components/header.js
  client/hackmerced/src/components/titlescreen.js
  client/hackmerced/src/index.js
  client/hackmerced/src/registerServiceWorker.js
Labels: Feature, bug

#18 the scss is not connecting properly
  .eslintrc
  .gitignore
  .jshintrc
  client/.DS_Store
  client/.gitignore
  client/hackmerced/README.md
  client/hackmerced/public/favicon.ico
  client/hackmerced/src/assets/css/default.css
  client/hackmerced/src/assets/css/default.css.map
  client/hackmerced/src/assets/scss/basic.css
  client/hackmerced/src/assets/scss/basic.css.map
  client/hackmerced/src/assets/scss/body.css
  client/hackmerced/src/assets/scss/body.css.map
  client/hackmerced/src/assets/scss/default.css.map
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/manifest.json
  client/src/App.js
  client/src/App.test.js
  client/src/assets/css/basic.css
  client/src/assets/css/basic.css.map
  client/src/assets/css/body.css
  client/src/assets/css/body.css.map
  client/src/assets/css/default.css
  client/src/assets/css/default.css.map
  client/src/assets/img/background.jpg
  client/src/assets/scss/basic.scss
  client/src/assets/scss/body.scss
  client/src/assets/scss/default.scss
  client/src/components/footer.js
  client/src/components/header.js
  client/src/components/titlescreen.js
  client/src/index.js
  client/src/registerServiceWorker.js
Labels: enhancement

#14 Initial Schema
  server/schema/mock_schema.sh
  server/schema/orange-triangle-banner.jpg
  server/schema/person-icon.png
  server/schema/schema.json
Labels: Feature, bug, help wanted

#12 first draft of about us page template is done
  public/aboutUS.html
  src/Bulma.css
  src/aboutUS.css
  src/aboutUS.js
Labels: invalid

#22 create layouts folder
  client/src/App.js
  client/src/layouts/titlescreen.js
Labels: Feature

#23 updated app.js, default.scss, and finished contact us page
  .DS_Store
  client/README.md
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/src/App.js
  client/src/assets/css/default.css
  client/src/assets/css/default.css.map
  client/src/assets/img/background3.jpg
  client/src/assets/img/contact.jpg
  client/src/assets/img/fb.png
  client/src/assets/img/mail.png
  client/src/assets/scss/default.css
  client/src/assets/scss/default.css.map
  client/src/assets/scss/default.scss
  client/src/components/footer.js
  client/src/components/header.js
  client/src/layouts/contactus.js
Labels: enhancement

#24 created FAQ section, added faq.js, and edited app.js
  client/package-lock.json
  client/src/App.js
  client/src/layouts/faq.js
Labels: enhancement

#28 fixed the warnings
  client/src/App.js
  client/src/layouts/contactus.js
Labels: Fixed Bug

#27 Feat/about us
  client/package-lock.json
  client/package.json
  client/src/assets/css/aboutUS.css
  client/src/assets/css/team.css
  client/src/index.js
  client/src/layouts/aboutUS.js
  client/src/layouts/team.js
Labels: enhancement

#36 created Hacker/Volunteer regi, add signUP/signUPVolunteer.js
  client/src/App.js
  client/src/components/footer.js
  client/src/layouts/signUP.js
  client/src/layouts/signUPVolunteer.js
  client/src/layouts/timeline.js
  package-lock.json
Labels: enhancement

#37 Fix to correctly point the back-end server to the front-end code
  server/server.js
Labels: Fixed Bug

#38 Super duper dev dont look
  server/api/authentication.js
  server/api/db.js
  server/api/fileStreaming.js
  server/api/oldUnsecuredRoutes.js
  server/api/routes.js
  server/api/secrets.js
  server/model/models.js
  server/package.json
  server/server.js
  server/test_public/express.jpg
  server/test_public/test_index.html
  server/yarn.lock
Labels: enhancement
