Repository HackMerced/HackMerced, pull requests merged in 2018-09, with the labels that each got.

#62 Feature/continuous deployment
  deployment/ecosystem.config.js
  deployment/hmd.js
  deployment/hmd.sh
  deployment/package.json
  server/.gitignore
Labels: Back End

#61 Revert "Feat/navbar"
  client/package.json
  client/src/App.js
  client/src/assets/css/default.css
  client/src/assets/css/navbar1.png
  client/src/assets/css/signUp.css
  client/src/assets/css/underlineLink.css
  client/src/assets/img/logo.png
  client/src/assets/img/ucmerced.png
  client/src/components/Footer.jsx
  client/src/components/Header.jsx
  client/src/components/aboutUS.js
  client/src/components/logIn.jsx
  client/src/components/signUP.jsx
  client/src/components/signUPVolunteer.jsx
  client/src/components/team.js
  client/src/layouts/main.js
Labels: Front End, bug, help wanted, invalid

#65 Full stack dev
  .circleci/config.yml
  client/src/App.js
  client/src/App.test.js
  client/src/Components/Dashboard/Dashboard.js
  client/src/Components/Dashboard/User.js
  client/src/Components/Design/AboutUs.js
  client/src/Components/Design/ContactUs.js
  client/src/Components/Design/Faqs.js
  client/src/Components/Design/FontAwesome.js
  client/src/Components/Design/Footer.js
  client/src/Components/Design/Header.js
  client/src/Components/Design/LogIn.js
  client/src/Components/Design/SignUpHacker.js
  client/src/Components/Design/SignUpVolunteer.js
  client/src/Components/Design/Team.js
  client/src/Components/Design/Timeline.js
  client/src/assets/css/aboutUS.css
  client/src/assets/css/basic.css
  client/src/assets/css/basic.css.map
  client/src/assets/css/body.css.map
  client/src/assets/css/default.css
  client/src/assets/css/default.css.map
  client/src/assets/css/main.css
  client/src/assets/css/signUp.css
  client/src/assets/css/underlineLink.css
  client/src/assets/img/background2.jpg
  client/src/assets/img/background3.jpg
  client/src/assets/img/logo.png
  client/src/assets/img/navbar1.png
  client/src/assets/img/ucmerced.png
  client/src/assets/scss/basic.css
  client/src/assets/scss/basic.scss
  client/src/assets/scss/body.css
  client/src/assets/scss/body.scss
  client/src/assets/scss/default.css
  client/src/assets/scss/default.scss
  client/src/assets/scss/index.css
  client/src/assets/scss/index.scss
  client/src/components/aboutUS.js
  client/src/components/faq.js
  client/src/components/signUP.jsx
  client/src/components/signUPVolunteer.jsx
  client/src/components/team.js
  client/src/index.js
  client/src/layouts/.gitkeep
  client/src/layouts/main.js
  client/src/main.js
  server/model/models.js
  server/schema/mock_schema.sh
  server/schema/orange-triangle-banner.jpg
  server/schema/person-icon.png
  server/schema/schema.json
Labels: Feature, bug, help wanted, refactor
