Repository HackMerced/HackMerced, pull requests merged in 2020-10, with the labels that each got.

#110 Dynamic NavBar and Footer
  src/components/Footer/footer.tsx
  src/components/NavBar/navbar.stories.tsx
  src/components/NavBar/navbar.tsx
  src/pages/DesignMerced/designmerced.tsx
Labels: react, storybook

#112 Created a Sponsors Component for Designathon
  src/assets/images/MicrosoftPLACEHOLDER.png
  src/assets/images/digitaloceanPLACEHOLDER.png
  src/assets/images/mlhPLACEHOLDER.png
  src/components/Sponsors Design/sponsors-design.scss
  src/components/Sponsors Design/sponsors-design.tsx
  src/pages/DesignMerced/designmerced.tsx
Labels: New Feature, react

#109 Fix the broken Subscribe Modal
  src/App.scss
  src/App.tsx
  src/app.history.ts
  src/components/Title/title.scss
  src/components/Title/title.tsx
  src/tailwind.scss
  yarn.lock
Labels: react

#115 Feat/application pg
  src/App.tsx
  src/components/NavBar/navbar.tsx
  src/pages/Application/application.scss
  src/pages/Application/application.tsx
Labels: react

#114 Feat/design about us
  .gitignore
  src/components/About Us Design/aboutus-design.scss
  src/components/About Us Design/aboutus-design.tsx
  src/pages/DesignMerced/designmerced.tsx
Labels: react

#116 Adding title to develop
  src/assets/images/date.png
  src/assets/images/title.png
  src/components/Title Design/title-design.scss
  src/components/Title Design/title-design.tsx
  src/pages/DesignMerced/designmerced.tsx
Labels: react

#118 Responsiveness DesignMerced
  package.json
  src/assets/images/date.png
  src/assets/images/title-designmerced.png
  src/assets/images/title.png
  src/components/About Us Design/aboutus-design.scss
  src/components/About Us Design/aboutus-design.tsx
  src/components/DesignPrompt/designprompt.scss
  src/components/DesignPrompt/designprompt.tsx
  src/components/Title Design/title-design.scss
  src/components/Title Design/title-design.tsx
  src/pages/Application/application.scss
  src/pages/Application/application.tsx
  src/pages/Application/countries.ts
  src/pages/Application/states.ts
  src/pages/Application/universities.ts
  yarn.lock
Labels: react

#119 fixed title responsiveness and some padding here and there
  src/components/NavBar/navbar.tsx
  src/components/Title/title.scss
  src/components/Title/title.tsx
Labels: react

#120 Completed: Responsiveness DesignMerced
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  package.json
  src/components/404/404.scss
  src/components/404/404.tsx
  src/components/AboutUs/AboutUs.scss
  src/components/AboutUs/AboutUs.tsx
  src/components/Accordian/Accordian.scss
  src/components/Accordian/Accordian.stories.tsx
  src/components/Accordian/Accordian.tsx
  src/components/Accordian/data.ts
  src/components/Button/Button.tsx
  src/components/DesignMercedAboutUs/DesignMercedAboutUs.scss
  src/components/DesignMercedAboutUs/DesignMercedAboutUs.tsx
  src/components/DesignMercedFAQ/DesignMercedFAQ.scss
  src/components/DesignMercedFAQ/DesignMercedFAQ.tsx
  src/components/DesignPrompt/designprompt.scss
  src/components/Title Design/title-design.scss
  src/components/Title/title.scss
  src/components/Title/title.tsx
  src/pages/DesignMerced/designmerced.tsx
  src/pages/Home/home.tsx
  yarn.lock
Labels: react, storybook

#121 Updated Application with Animations
  package.json
  src/components/FileUploader/FileUploader.scss
  src/components/FileUploader/FileUpoader.tsx
  src/externals.d.ts
  src/pages/Application/application.scss
  src/pages/Application/application.tsx
  yarn.lock
Labels: react

#123 Fix Some Responsiveness and Add Meta description
  public/index.html
  src/assets/images/hackmerced-wallpaper.png
  src/components/Accordian/Accordian.scss
  src/components/DesignMercedAboutUs/DesignMercedAboutUs.scss
  src/components/DesignPrompt/designprompt.scss
  src/components/Title Design/title-design.scss
Labels: react

#125 Fix/design aboutus responsiveness
  src/assets/images/lightbulb.png
  src/components/DesignMercedAboutUs/DesignMercedAboutUs.scss
  src/components/DesignMercedAboutUs/DesignMercedAboutUs.tsx
  src/components/DesignPrompt/designprompt.scss
  src/components/DesignPrompt/designprompt.tsx
Labels: Fix, react, refactor

#126 Most responsiveness done and minor fixes
  src/assets/images/lightbulb.png
  src/components/DesignMercedAboutUs/DesignMercedAboutUs.scss
  src/components/DesignMercedAboutUs/DesignMercedAboutUs.tsx
  src/components/DesignPrompt/designprompt.scss
  src/components/DesignPrompt/designprompt.tsx
  src/components/Title/title.scss
  src/components/Title/title.tsx
  src/pages/Application/application.scss
  src/pages/Application/application.tsx
Labels: react

#127 fix: designmerced button at home
  src/components/Title/title.scss
Labels: react

#124 Feat/login page backend
  .gitignore
  src/App.tsx
  src/components/NavBar/navbar.tsx
  src/pages/Login-ResetPassword/login-resetpassword.scss
  src/pages/Login-ResetPassword/login-resetpassword.tsx
  src/pages/Login/login.scss
  src/pages/Login/login.tsx
Labels: New Feature, react

#122 Hotfix past winners links
  package.json
  src/components/Past-Winners/past-winners.tsx
  yarn.lock
Labels: react

#128 Frontend Fixes for Designathon Page, FAQ Component
  src/components/Accordian/Accordian.scss
Labels: Fix, react

#129 add: new sponsors to live
  .gitignore
  package.json
  src/App.tsx
  src/assets/images/sponsor-design.jpg
  src/components/Accordian/Accordian.scss
  src/components/NavBar/navbar.tsx
  src/components/Past-Winners/past-winners.tsx
  src/pages/DesignMerced/designmerced.tsx
  src/pages/Login-ResetPassword/login-resetpassword.scss
  src/pages/Login-ResetPassword/login-resetpassword.tsx
  src/pages/Login/login.scss
  src/pages/Login/login.tsx
  yarn.lock
Labels: react
