Repository HackMerced/HackMerced, pull requests merged in 2020-07, with the labels that each got.

#92 Form Updates
  .github/PULL_REQUEST_TEMPLATE.md
  package.json
  src/components/Contact-Form/contact-form.scss
  src/components/Contact-Form/contact-form.tsx
  src/components/Form/Form.scss
  src/components/Form/Form.stories.tsx
  src/components/Form/Form.tsx
  src/components/Form/Form.types.ts
  src/components/Splash/splash.scss
  src/components/Splash/splash.tsx
  src/pages/Contact-Us/contact-us.scss
  src/pages/Contact-Us/contact-us.tsx
  src/pages/SponsorUs/sponsor-us.scss
  src/pages/SponsorUs/sponsors-us.tsx
  src/tailwind.scss
  yarn.lock
Labels: New Feature, react, storybook

#94 Fix/teampics centered
  src/components/TeamPics/teampics.scss
  src/components/TeamPics/teampics.tsx
Labels: Fix, react, workflows

#95 Fix/teampics hexagon sizing
  src/components/TeamPics/teampics.scss
Labels: Fix, react

#97 chore: cleaned up code
  src/App.tsx
  src/components/Button/Button.tsx
  src/components/Footer/footer.tsx
  src/components/NavBar/navbar.tsx
  src/components/TeamPics/teampics.tsx
  src/pages/Home/home.tsx
Labels: Fix, react

#98 Hamburger Menu and Right Navbar
  package.json
  src/App.tsx
  src/components/NavBar/navbar.scss
  src/components/NavBar/navbar.tsx
  yarn.lock
Labels: New Feature, react
