Repository HackMerced/HackMerced, pull requests merged in 2020-06, with the labels that each got.

#77 Created Team Pics component for Home-page
  src/assets/images/lorenzo.jpg
  src/assets/images/mary.jpg
  src/assets/images/truman.jpg
  src/components/TeamPics/teampics.scss
  src/components/TeamPics/teampics.tsx
  src/pages/Home/home.tsx
Labels: enhancement

#80 Fixing branches
  package.json
  src/App.tsx
  src/assets/images/Intiser3.png
  src/assets/images/adrian.jpg
  src/assets/images/adrian1.jpg
  src/assets/images/adrian2.jpg
  src/assets/images/athena2.jpg
  src/assets/images/busher.jpg
  src/assets/images/busher2.jpg
  src/assets/images/hackmerced-v.jpg
  src/assets/images/kacey.jpg
  src/assets/images/kc.jpg
  src/assets/images/lorenzo.jpg
  src/assets/images/lorenzo1.jpg
  src/assets/images/manjot.jpg
  src/assets/images/manjot1.jpg
  src/assets/images/manjot2.jpg
  src/assets/images/mary.jpg
  src/assets/images/mary1.jpg
  src/assets/images/mary2.jpg
  src/assets/images/shiv.jpg
  src/assets/images/shiv1.jpg
  src/assets/images/team.jpg
  src/assets/images/teampic.HEIC
  src/assets/images/truman.jpg
  src/assets/images/truman1.jpg
  src/assets/images/tuzette.jpg
  src/assets/images/tuzette2.jpg
  src/components/About Us/about.scss
  src/components/About Us/about.tsx
  src/components/Footer/footer.scss
  src/components/Footer/footer.tsx
  src/components/NavBar/navbar.scss
  src/components/NavBar/navbar.tsx
  src/components/TeamPics/teampics.scss
  src/components/TeamPics/teampics.tsx
  src/components/Title/title.scss
  src/components/Title/title.tsx
  src/index.css
  src/pages/Home/home.tsx
  yarn.lock
Labels: bug, react

#83 fix(teampics): Made TeamPics Dynamic
  src/components/TeamPics/teampics.scss
  src/components/TeamPics/teampics.stories.tsx
  src/components/TeamPics/teampics.tsx
Labels: storybook

#88 WIP added sponsors component and page
  src/App.tsx
  src/components/Splash/splash.scss
  src/components/Splash/splash.tsx
  src/pages/SponsorUs/sponsor-us.scss
  src/pages/SponsorUs/sponsors-us.tsx
Labels: enhancement, react
