Repository HackMerced/HackMerced, pull requests merged in 2021-06, with the labels that each got.

#168 Register hover button
  src/pages/Home/index.tsx
  src/pages/Home/styles.scss
Labels: Fix, react

#169 Removed Potential for Users to see Floating HackMerced Tower
  src/pages/Home/styles.scss
Labels: Fix, react

#170 Revised Home Heading Component's Height & Width media queries
  src/pages/Home/styles.scss
Labels: Fix, react

#171 Fix/home pastwinners
  src/assets/winners.ts
Labels: Fix

#173 fixed tower size and checked for different width responses
  src/pages/Home/styles.scss
Labels: react, refactor

#176 Fix Footer Icons and copyright year
  src/components/Footer/index.tsx
Labels: Fix, react
