Repository HackMerced/HackMerced, pull requests merged in 2021-03, with the labels that each got.

#146 chore: documented quite a bit of files
  src/components/Accordian/index.tsx
  src/components/Footer/index.tsx
  src/components/Form/index.tsx
  src/components/NavBar/index.tsx
  src/components/NavBar/navbar.tsx
  src/pages/Application/index.tsx
  src/pages/DesignMerced/index.tsx
  src/pages/DesignMerced/styles.scss
  src/pages/HackMercedVI/index.tsx
  src/pages/HackMercedVI/styles.scss
  src/pages/Home/index.tsx
  src/pages/Home/styles.scss
  src/pages/Login/index.tsx
  src/pages/PastHackathons/index.tsx
  src/pages/PastHackathons/styles.scss
  src/pages/ResetPassword/index.tsx
  src/pages/SignUp/index.tsx
  src/pages/SponsorUs/index.tsx
Labels: react

#147 Fixed Hexagon Responsiveness that resulted from removal of tailwind
  src/assets/images/joseph.jpg
  src/pages/Home/index.tsx
  src/pages/Home/styles.scss
Labels: Fix, react

#148 Dark Mode
  package.json
  src/App.tsx
  src/components/Footer/styles.scss
  src/components/Form/styles.scss
  src/components/NavBar/index.tsx
  src/components/NavBar/styles.scss
  src/index.scss
  src/pages/Archive/Application/countries.ts
  src/pages/Archive/Application/index.tsx
  src/pages/Archive/Application/states.ts
  src/pages/Archive/Application/styles.scss
  src/pages/Archive/Application/universities.ts
  src/pages/Archive/DesignMerced/index.tsx
  src/pages/Archive/DesignMerced/styles.scss
  src/pages/Archive/HackMercedVI/index.tsx
  src/pages/Archive/HackMercedVI/styles.scss
  src/pages/Archive/Login/index.tsx
  src/pages/Archive/Login/styles.scss
  src/pages/Archive/ResetPassword/index.tsx
  src/pages/Archive/ResetPassword/styles.scss
  src/pages/Archive/SignUp/index.tsx
  src/pages/Archive/SignUp/styles.scss
  src/pages/ContactUs/styles.scss
  src/pages/Home/styles.scss
  src/pages/PastHackathons/styles.scss
  src/pages/SponsorUs/index.tsx
  src/pages/SponsorUs/styles.scss
  yarn.lock
Labels: react

#149 Added Hexagon Hover functionality for Desktops and Mobile Touchscreens
  src/assets/team.ts
  src/pages/Home/index.tsx
  src/pages/Home/styles.scss
Labels: New Feature, react

#152 Responsiveness Tower and White dots on past winners fix
  src/pages/Home/index.tsx
  src/pages/Home/styles.scss
Labels: react

#154 Fixed responsiveness for desktop and mobile all the way down to 300px
  src/pages/Home/styles.scss
Labels: Fix, react

#153 Front page fix (updated)
  src/assets/winners.ts
Labels: invalid, react
