Repository HackMerced/HackMerced, pull requests merged in 2021-07, with the labels that each got.

#177 grouped the icon, title, and project name into one Div
  src/pages/Home/index.tsx
Labels: Fix, react

#178 Created 'Contribute!' Component & added Hover Animation
  src/components/Contribute/index.tsx
  src/components/Contribute/styles.scss
  src/pages/Home/index.tsx
Labels: New Feature, react

#180 Fixed Past-Sponsors-Logos Component code messing with Home Page imgs
  src/pages/Home/styles.scss
  src/pages/SponsorUs/index.tsx
  src/pages/SponsorUs/styles.scss
Labels: Fix, bug, react

#181 Fixed Sponsers&ContactUs page format
  src/components/Form/styles.scss
  src/pages/ContactUs/styles.scss
  src/pages/SponsorUs/styles.scss
Labels: Fix, react

#182 Fix/sponsors logos darkmode
  src/assets/images/sponsor-logos/1.png
  src/assets/images/sponsor-logos/10.png
  src/assets/images/sponsor-logos/11.png
  src/assets/images/sponsor-logos/1Password.png
  src/assets/images/sponsor-logos/2.png
  src/assets/images/sponsor-logos/3.png
  src/assets/images/sponsor-logos/4.png
  src/assets/images/sponsor-logos/6.png
  src/assets/images/sponsor-logos/7.png
  src/assets/images/sponsor-logos/ACM.png
  src/assets/images/sponsor-logos/ASUCM.png
  src/assets/images/sponsor-logos/Adobe.png
  src/assets/images/sponsor-logos/Alumni.png
  src/assets/images/sponsor-logos/Citrus.png
  src/assets/images/sponsor-logos/CoolerMaster.png
  src/assets/images/sponsor-logos/GoodDayChocolate.png
  src/assets/images/sponsor-logos/GuayakiYerbaMate.png
  src/assets/images/sponsor-logos/IT.png
  src/assets/images/sponsor-logos/InterviewCake.png
  src/assets/images/sponsor-logos/JetBrains.png
  src/assets/images/sponsor-logos/MLH.png
  src/assets/images/sponsor-logos/MakeSchool.png
  src/assets/images/sponsor-logos/MakeyMakey.png
  src/assets/images/sponsor-logos/MercoCU.png
  src/assets/images/sponsor-logos/MonsterEnergy.png
  src/assets/images/sponsor-logos/OSI.png
  src/assets/images/sponsor-logos/Replit.png
  src/assets/images/sponsor-logos/Sketch.png
  src/assets/images/sponsor-logos/Snorkel.png
  src/assets/images/sponsor-logos/Stickermule.png
  src/assets/images/sponsor-logos/UCANR.png
  src/assets/images/sponsor-logos/Vanguard.png
  src/assets/images/sponsor-logos/VentureLab.png
  src/assets/images/sponsor-logos/WolframLanguage.png
  src/assets/images/sponsor-logos/ZuckerbergInitiative.png
  src/pages/ContactUs/index.tsx
  src/pages/ContactUs/styles.scss
  src/pages/SponsorUs/index.tsx
  src/pages/SponsorUs/styles.scss
Labels: Fix, react
