Repository HackMerced/HackMerced, pull requests merged in 2021-09, with the labels that each got.

#185 Feat/image convert webp
  src/assets/images/Intiser.webp
  src/assets/images/abdus.webp
  src/assets/images/adrian.webp
  src/assets/images/alisson.webp
  src/assets/images/alyssa.webp
  src/assets/images/athena.webp
  src/assets/images/betsy.webp
  src/assets/images/busher.webp
  src/assets/images/erick.webp
  src/assets/images/francisco.webp
  src/assets/images/gehad.webp
  src/assets/images/hackmerced-v.webp
  src/assets/images/janelle.webp
  src/assets/images/jet.webp
  src/assets/images/joseph.webp
  src/assets/images/kacey.webp
  src/assets/images/kiana.webp
  src/assets/images/laurence.webp
  src/assets/images/lorenzo.webp
  src/assets/images/manjot.webp
  src/assets/images/marty.webp
  src/assets/images/mary.webp
  src/assets/images/placeholder-title.webp
  src/assets/images/rohit.webp
  src/assets/images/salvador.webp
  src/assets/images/sean.webp
  src/assets/images/shakti.webp
  src/assets/images/shawn.webp
  src/assets/images/shivanshu.webp
  src/assets/images/tower.webp
  src/assets/images/truman.webp
  src/assets/images/tuzette.webp
  src/assets/images/virginia.webp
  src/assets/images/winston.webp
  src/assets/team.ts
  src/pages/Home/index.tsx
  src/pages/Home/styles.scss
Labels: New Feature, react

#186 Started the LHD: Learn page
  src/App.tsx
  src/components/NavBar/index.tsx
  src/pages/LearnDay/index.tsx
  src/pages/LearnDay/styles.scss
Labels: New Feature, react

#187 Changed Home Heading Component to have display: grid;
  src/pages/Home/index.tsx
  src/pages/Home/styles.scss
Labels: react, Fix

#188 Changed subscribe button to email form submission w/placeholders
  src/pages/Home/index.tsx
  src/pages/Home/styles.scss
Labels: New Feature, react, Fix

#189 Fixed Home Heading component height not taking full vh of phones
  src/pages/Home/styles.scss
Labels: react, Fix
